<!DOCTYPE html>
<html lang="{{- with .Site.LanguageCode }}{{ . }}{{- else }}en-US{{- end }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "favicon.html" . }}
    <title>{{ block "title" . }}{{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "seo_tags.html" . }}
    {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end }}
    {{ partial "style.html" . }}
    {{- partial "custom_head.html" . }}
  </head>

  <body>
    <header>
      {{ partial "header.html" . }}
    </header>

    <main>
      {{ block "main" . -}}
      {{- end }}
    </main>

    <footer>
      {{- partial "footer.html" . }}
    </footer>
    {{- partial "custom_body.html" . }}
  </body>
</html>
